header {
    background: #BBBBBB;
}

nav {
    position: relative;
    top: -8rem;
    left: 59%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}